# Salin file ini menjadi .env.local lalu isi kredensial Supabase Anda.
# (Settings → API di dashboard Supabase)

NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_POS_VERSION=v1
#NEXT_PUBLIC_POS_VERSION=final